pandapower==2.13.1
pennylane==0.36.0
pennylane-lightning==0.36.0
stable-baselines3==2.3.2
gymnasium==0.29.1
langchain==0.1.5
sentence-transformers==2.7.0
streamlit==1.36.0
plotly==5.24.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
torch==2.5.1
requests==2.32.3
python-dotenv==1.0.1
seaborn==0.13.2
reportlab==4.2.5
openpyxl==3.1.5
matplotlib==3.9.2
tqdm
